@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-noto-sans-jp);
  --color-background: #ffffff;
  --color-foreground: #171717;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
}
